{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

<body>
    <h1>Hello World</h1>
    <p>Bem-vindo ao meu site de comércio eletrônico!</p>
    <p><a href="{% url 'categoria_cadastro' %}">Cadastrar categoria</a></p>
    <p><a href="{% url 'produto_cadastro' %}">Cadastrar produto</a></p>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
    {% else %}
        <p><a href="/admin/login/?next=/">Entrar</a></p>
    {% endif %}

    <img src="{% static 'ecommerce/img/logo.png' %}" alt="Logo">
</body>
